@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Open+Sans&display=swap');

body {

}
.hide{
    display: none;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 98px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

/* HEADER  */

#header {
    margin: 0 auto 0 auto;
    width: 100%;
    text-align: center;
    padding: 0 20px 0 20px;
}

.logo {
    font-size: 8vw;
    color: black;
    text-decoration: none !important;
}

.logo a {
    text-decoration: none !important;
}

.red {
    color: #b02e2e;
}

nav {
    text-align: end;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0 20px 0;
}

nav a {
    text-decoration: none;
    color: black;
}

.modal a {
    text-decoration: none;
    color: black;
}

.linkEffect {
    cursor: pointer;
    text-decoration: none;
}

.cart_div {
	float:right;
	font-weight:bold;
	position:relative;
	}
.cart_div a {
	color:#000;
	}	
.cart_div span {
	font-size: 12px;
	line-height: 14px;
	background: #F68B1E;
	padding: 2px;
	border: 2px solid #fff;
	border-radius: 50%;
	position: absolute;
	top: -1px;
	left: 13px;
	color: #fff;
	width: 20px;
	height: 20px;
	text-align: center;
	}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    h1 {
      font-size: 15vw;
    }
  }

/* INDEX AND CHILD PAGES*/
.banner {
    width: 100%;
    margin: 0 auto 0 auto;
    display: block;
}

.productThumb {
    box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
}

.productThumb:hover {
    box-shadow: 5px 7.5px 12.5px 0 rgba(0,0,0,.2);
}

#wrapper {
    width: 900px;
    margin: 0 auto 0 auto;
    height: 100%;
}

.productImg {
    width: 550px;

}

/* USER PAGES */

.pointsRed {
    color: #b02e2e;
}


