@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

body {

}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 8vw;
}

/* HEADER  */

#header {
    margin: 0 auto 0 auto;
    width: 100%;
    text-align: center;
    padding: 0 20px 0 20px;
}

.red {
    color: #b02e2e;
}

nav {
    text-align: end;
    font-family: 'Montserrat', sans-serif;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    h1 {
      font-size: 15vw;
    }
  }

/* INDEX */
.banner {
    width: 100%;
    margin: 0 auto 0 auto;
    display: block;
}

.productThumb {
    box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
}

.productThumb:hover {
    box-shadow: 5px 7.5px 12.5px 0 rgba(0,0,0,.2);
}


